.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .overlay {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 2;
  }
  
  .credentialList {
    max-height: 300px; 
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
  }
  
  .credentialRow {
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .credentialRow input {
    flex: 1 1 calc(50% - 15px);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .inputField {
    gap: 100px;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .inputField::placeholder {
    color: #999;
    font-style: italic;
  }
  
  .addButton {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #13335c;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-top: 20px;
  }
  
  .inputField:first-child {
    margin-left: 0;
  }
  
  .inputField:last-child {
    margin-right: 0;
  }
  
  .addButton:hover {
    transform: scale(1.1);
    background-color: #004d5b;
  }
  
  .credentialList::-webkit-scrollbar {
    width: 6px;
  }
  
  .credentialList::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
  }
  
  .credentialList::-webkit-scrollbar-track {
    background: transparent;
  }
  
  h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .backButton {
    position: absolute;
    margin-top: -5px;
    display: block;
    margin-left: -5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #13335c;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .backButton:hover {
    transform: scale(1.1);
    background-color: #006474;
  }
  
  .horizontalLine {
    border: 0;
    border-top: 1px solid #ccc;  
    margin: 15px 0; 
    width: 100%;
  }
  
  .saveButton {
    position: absolute;
    background-color: #13335c;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 173px;
    margin-top: -45px;
  }

  .saveButton:hover {
    transform: scale(1.1);
    background-color: #13335c;
  }

  .disabledButton {
    background-color: #b0bec5; 
    cursor: not-allowed;
  }


input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input:invalid {
    border-color: red;
  }
  
  input:focus {
    outline: none;
    border-color: #006474;
  }

  .inputField {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }

  .decorativeCircles div {
    position: absolute;
    border-radius: 50%;
    opacity: 0.85; 
    overflow: hidden;
  }
  
  .decorativeCircles .circle1,
  .decorativeCircles .circle2,
  .decorativeCircles .circle3,
  .decorativeCircles .circle4,
  .decorativeCircles .circle5,
  .decorativeCircles .circle6,
  .decorativeCircles .circle7,
  .decorativeCircles .circle8,
  .decorativeCircles .circle9,
  .decorativeCircles .circle10 {
    opacity: 0.60;  
  }
  
  /* Circle 1 */
  .decorativeCircles .circle1 {
    background: linear-gradient(135deg, #e7eaea, #003961);
    width: 200px;
    height: 200px;
    top: -80px;
    left: -120px;
  }
  
  /* Circle 2 */
  .decorativeCircles .circle2 {
    background: linear-gradient(-135deg, #f3f2f1, #9fd2ff);
    width: 150px;
    height: 150px;
    top: 20px;
    right: -100px;
  }
  
  /* Circle 3 */
  .decorativeCircles .circle3 {
    background: linear-gradient(135deg, #d8d8d8, #47dbd9);
    width: 220px;
    height: 220px;
    bottom: -120px;
    left: 80px;
  }
  
  /* Circle 4 */
  .decorativeCircles .circle4 {
    background: linear-gradient(-135deg, #b6bcbd, #003961);
    width: 180px;
    height: 180px;
    top: -100px;
    left: 500px;
  }
  
  /* Circle 5 */
  .decorativeCircles .circle5 {
    background: linear-gradient(135deg, #ffffff, #76c9db);
    width: 130px;
    height: 130px;
    bottom: -10px;
    right: 150px;
  }
  
  /* Additional Circles */
  .decorativeCircles .circle6 {
    background: linear-gradient(135deg, #bab7b7 20%, #3D5A80 80%);
    width: 100px;
    height: 100px;
    top: 250px;
    left: -50px;
  }
  
  .decorativeCircles .circle7 {
    background: linear-gradient(-135deg, #c7c6c3, #7ffff9);
    width: 180px;
    height: 180px;
    top: -70px;
    right: 150px;
  }
  
  .decorativeCircles .circle8 {
    background: linear-gradient(-135deg, #bec4c5, #003961);
    width: 150px;
    height: 150px;
    bottom: 50px;
    left: 400px;
  }
  
  .decorativeCircles .circle9 {
    background: linear-gradient(135deg, #adaeb4, #003961);
    width: 170px;
    height: 170px;
    bottom: 150px;
    right: -100px;
  }
  
  .decorativeCircles .circle10 {
    background: linear-gradient(-135deg, #0a9edd, #c0bcb9);
    width: 200px;
    height: 200px;
    top: -50px;
    left: 50px;
    transform: translateX(-50%);
  }
  
  
